<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <p>Hi, my name is Logan Weathersby. I was born in the state of South Carolina and grew up all around computers. When i was young i always loved to watch my father hammer away at the keyboard and I have taken that feeling and ran away with it. A few things that i truely love about coding is the fact that yuore communicating with it. That is so cool to me! Being able to talk and tell it what you want it to do and for the computer to responed back by doing it or giving you an error. I am looking for great opertunites to work with teams and to learn from the best. </p>
    <img src="asserts/img/30220360.jpeg" alt="Photo of Logan Weathersby"/>
</div>
</body>
</html>