<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="asserts/css/aboutMe.css"/>
</head>
<body>
<h3>About Me</h3>
<hr/>
<header>
    <div class="nav nav-pills center" >
        <li><a href="/">My Projects</a></li>
        <li><a href="/aboutMe">About Me</a></li>
        <li><a href="/contactInfo">Contact Me</a></li>
    </div>
</header>
<div class="about">
    <p>Hi, my name is Logan Weathersby. I was born in the state of South Carolina and grew up all around computers. When i was young i always loved to watch my father hammer away at the keyboard and I have taken that feeling and ran away with it. A few things that i truly love about coding is the fact that you're communicating with it. That is so cool to me! Being able to talk and tell it what you want it to do and for the computer to responed back by doing it or giving you an error. I am looking for great opportunities to work with teams and to learn from the best. </p>
</div>
<div>
    <img src="asserts/img/me.JPG" alt="Photo of Logan Weathersby"/>
</div>

<footer>
    <hr/>
    <span>Logan Weathersby (c) 2017-2017 <a href="https://github.com/loganbw">GitHub</a> <a href="https://www.linkedin.com/in/logan-weathersby-87557014a/">LinkedIn</a>
    <a href="https://twitter.com/loganweathersb1">twitter</a>
    </span>
</footer>
</body>
</html>