<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Logan Weathersby's Portfolio</title>
    <link rel="stylesheet" href="asserts/css/app.css"/>
</head>
<body>
<div class="header">
    <h1>Logan Weathersby's Portfolio</h1>
</div>
<h3>About Me</h3>
<div class="aboutMe">
<p>Hi, my name is Logan Weathersby. I was born in the state of South Carolina and grew up all around computers. When i was young i always loved to watch my father hammer away at the keyboard and I have taken that feeling and ran away with it. A few things that i truely love about coding is the fact that yuore communicating with it. That is so cool to me! Being able to talk and tell it what you want it to do and for the computer to responed back by doing it or giving you an error. I am looking for great opertunites to work with teams and to learn from the best. </p>
    <img src="asserts/img/30220360.jpeg" alt="Photo of Logan Weathersby"/>
</div>
<h3>My Projects</h3>
<div class="project 1">
    <p>
        <a href="https://github.com/loganbw/_1021_dungeon_crawler">Title : Dungeon Crawler</a>
        <br/>
        <span>It is a text, turn by turn based dungeon crawler. Play it in your console! See how far you get!</span>
        <br/>
        <span>Technologies used : </span>
        <ul>
        <li>
        Java
        </li>
        <li>
         Maven
        </li>
        </ul>
        <span>Completed Summer 2017</span>
    </p>
</div>
<div class="project 2">
    <p>
        <a href="https://github.com/loganbw/calculator">Title : Calculator</a>
        <br/>
        <span>A calculator that runs on localhost8080 and can add, subtract, multiply and divide your 2 inputted numbers</span>
        <br/>
        <span>Technologies used : </span>
    <ul>
        <li>
            Java
        </li>
        <li>
            Maven
        </li>
        <li>
            Spring
        </li>
        <li>
            Thymeleaf
        </li>
    </ul>
    <span>Completed Summer 2017</span>
    </p>
</div>
<div class="project 3">
    <p>
        <a href="https://github.com/loganbw/currency_converter">Title : Currency Converter</a>
        <br/>
        <span>A simple currency converter that will convert USD, EUR, JPY and BIT</span>
        <br/>
        <span>Technologies used : </span>
    <ul>
        <li>
            Java
        </li>
        <li>
            Maven
        </li>
    </ul>
    <span>Completed Summer 2017</span>
    </p>
</div>
    <h3>Contact Information</h3>
<div class="contact">
    <p>Please feel free to contact me at :</p>
    <ul>
        <li>
            Email : <a href="/contact">loganbryantweathersby@gmail.com</a>
        </li>
        <li>
            Linkedin : <a href="https://www.linkedin.com/in/logan-weathersby-87557014a/">Logan Weathersby</a>
        </li>
        <li>
            GitHub : <a href="https://github.com/loganbw">Loganbw</a>
        </li>
        <li>
            Twitter : <a href="https://twitter.com/loganweathersb1">loganweathersb1</a>
        </li>
    </ul>
</div>
<footer>

    <span>Logan Weathersby (c) 2017-2017 <a href="https://github.com/loganbw">GitHub</a> <a href="https://www.linkedin.com/in/logan-weathersby-87557014a/">LinkedIn</a>
    <a href="https://twitter.com/loganweathersb1">twitter</a>
    </span>
</footer>
</body>
</html>