


body{
    font-family: Helvetica, sans-serif;
    background-color: #c4daff;
    text-align: center;
}

header{
    margin-left: 40%;
}
img{
    border-radius: 20%;
    width: 20%;
    float: right;
    margin-right: 40%;
    clear: both;
    margin-top: -3%;

}
.about{
    margin: 5% 5%;
    display: inline-block;
    text-align: center;
    font-weight: 300;

}
.header{
    display: inline-block;
}
footer{
    margin-top: 30%;
}