body{
    width: 70%;
    margin-left: 15%;
    background-color: #c3d9ff;
    text-align: center;
}
h1{
    text-align: center;
    padding-bottom: 1%;
}
h3{
    /*text-align: center;*/
    padding-bottom: 1%;
}
.aboutMe{

}
header{
    margin-left: 35%;
}
p{
    width:70%;

}
img {
    clear: both;
    border-radius: 50%;
    float: right;
    width: 15%;
    margin-top: -12%;
    margin-right: 3%;
}

.aboutMe{

}
.project{
    width: 40%;
    border: solid 1px;
    margin-left: 30%;
    text-align: left;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #fff9fb;
}
