body{
    text-align: center;
    background-color: #c4daff;

}
textarea{
    width: 40%;
    resize: none;
}
header{
    margin-left: 40%;
}
.email{
    width: 20%;
}
.subject{
    width: 20%
}
p{
    margin-top: 5%;
    margin-right: 5%;
}
span{
    border-top: solid black 1px;
}
.contact{
    width: 40%;
    border: solid 1px;
    margin-left: 30%;
    text-align: left;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #fff9fb;

}